# Odyssey Keybindings Configuration
# Format: ACTION=TYPE:CODE:THRESHOLD:INVERTED:DESCRIPTION

JUMP=GAMEPAD_BUTTON:0:0.000:false:A Button
JUMP=KEYBOARD:32:0.000:false:Space
MOVE_BACKWARD=KEYBOARD:83:0.000:false:S
MOVE_BACKWARD=GAMEPAD_AXIS:1:0.200:false:Left Stick Down
MOVE_BACKWARD=KEYBOARD:264:0.000:false:Down Arrow
OPEN_MENU=KEYBOARD:256:0.000:false:Escape
OPEN_MENU=GAMEPAD_BUTTON:7:0.000:false:Start/Menu
LOOK_HORIZONTAL=GAMEPAD_AXIS:2:0.100:false:Right Stick X
LOOK_HORIZONTAL=MOUSE_AXIS:0:0.000:false:Mouse X
FIRE_CANNONS=MOUSE_BUTTON:0:0.000:false:Left Mouse
FIRE_CANNONS=GAMEPAD_AXIS:5:0.500:false:Right Trigger
TOGGLE_DEBUG=KEYBOARD:292:0.000:false:F3
MOVE_UP=KEYBOARD:32:0.000:false:Space
MOVE_UP=GAMEPAD_BUTTON:5:0.000:false:Right Bumper
MOVE_RIGHT=KEYBOARD:262:0.000:false:Right Arrow
MOVE_RIGHT=KEYBOARD:68:0.000:false:D
MOVE_RIGHT=GAMEPAD_AXIS:0:0.200:false:Left Stick Right
MOVE_FORWARD=GAMEPAD_AXIS:1:-0.200:false:Left Stick Up
MOVE_FORWARD=KEYBOARD:87:0.000:false:W
MOVE_FORWARD=KEYBOARD:265:0.000:false:Up Arrow
RUN=KEYBOARD:341:0.000:false:Left Ctrl
RUN=GAMEPAD_BUTTON:9:0.000:false:Left Stick Click
TOGGLE_WIREFRAME=KEYBOARD:293:0.000:false:F4
OPEN_MAP=KEYBOARD:77:0.000:false:M
OPEN_MAP=GAMEPAD_BUTTON:6:0.000:false:Back/Select
CONFIRM=GAMEPAD_BUTTON:0:0.000:false:A Button
CONFIRM=KEYBOARD:257:0.000:false:Enter
MOVE_LEFT=KEYBOARD:65:0.000:false:A
MOVE_LEFT=GAMEPAD_AXIS:0:-0.200:false:Left Stick Left
MOVE_LEFT=KEYBOARD:263:0.000:false:Left Arrow
MOVE_DOWN=KEYBOARD:340:0.000:false:Left Shift
MOVE_DOWN=KEYBOARD:67:0.000:false:C
MOVE_DOWN=GAMEPAD_BUTTON:4:0.000:false:Left Bumper
CANCEL=GAMEPAD_BUTTON:1:0.000:false:B Button
CANCEL=KEYBOARD:256:0.000:false:Escape
RAISE_ANCHOR=KEYBOARD:82:0.000:false:R
RAISE_ANCHOR=GAMEPAD_BUTTON:11:0.000:false:D-Pad Up
LOOK_VERTICAL=MOUSE_AXIS:1:0.000:false:Mouse Y
LOOK_VERTICAL=GAMEPAD_AXIS:3:0.100:false:Right Stick Y
LOWER_ANCHOR=KEYBOARD:70:0.000:false:F
LOWER_ANCHOR=GAMEPAD_BUTTON:13:0.000:false:D-Pad Down
OPEN_INVENTORY=KEYBOARD:258:0.000:false:Tab
OPEN_INVENTORY=KEYBOARD:73:0.000:false:I
OPEN_INVENTORY=GAMEPAD_BUTTON:3:0.000:false:Y Button
FIRE_SAILS=GAMEPAD_BUTTON:2:0.000:false:X Button
FIRE_SAILS=KEYBOARD:69:0.000:false:E
